@import 'base.scss';

.component {
  width: 65px;
  height: 65px;
  cursor: pointer;
  transition: color .3s ease;
  background-color: #f0eeee;

  &.hasError {
    .overlay {
      box-shadow: inset 0 0 0 5px $red;
    }
  }

  &.hasInitialValue {
    .overlay {
      background-color: rgba(0, 0, 0, .6);
    }
  }

  input {
    display: none;
  }
}

.isRound {
  border-radius: 100%;
  border: 0 !important;
  overflow: hidden;

  .overlay {
    border-radius: 100%;
  }

  img {
    border-radius: 100%;
  }
}

.label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .icon {
      opacity: 1;
    }
  }
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hasInitialValue {

}

.icon {
  font-size: 1.5rem;
  color: white;
  opacity: .8;
}
