@import 'base.scss';

.component {
  background: none transparent;
  border: 2px solid $color-primary;
  border-radius: 3px;
  padding: .8rem 1.5rem;
  color: white;
  font-size: 1rem;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
  transition: background-color $transition-speed, color $transition-speed;

  &:hover {
    background-color: white;
    color: $color-primary;
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

.variant--transparent-bordered {
  border: 2px solid white;
}

.variant--default {
  background: $color-primary;
}
