@import 'base.scss';

$padding: 2rem;

@media screen and (max-device-width: $iphone-max-device-width) and (min-device-width: $iphone-min-device-width) {
  .responsiveMenuControls {
    display: flex !important;
    flex-direction: row;
    border-bottom: 2px solid $gray-400;
    height: 40px;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .displaySettingsMenu {
    display: none;
  }

  .component {
    overflow-x: hidden;
  }

  .hamburgerIcon {
    font-size: 1.2rem;
  }

  .iconContainer {
    padding: .2rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.responsiveMenuControls {
  display: none;
}

.component {
  margin: $padding 0;
  display: flex;
  min-height: unquote("calc(100vh - #{$header-height + ($padding * 2)})");
}

.menu {
  min-width: 240px;
}

.content {
  flex-grow: 1;
  padding-left: $padding;
  padding-right: $padding;
}
