@import 'base.scss';

.component {
  border-right: 2px solid $color-primary;
  display: flex;
  flex-direction: column;
}

.profile {
  height: 4rem;
  display: flex;
  align-items: center;
  width: 15rem;
  padding-left: 2rem;
  cursor: pointer;

  &:hover {
    background-color: $gray-300;
  }
}

.info {
  margin-left: .75rem;
  width: 100%;

  p {
    margin: 0;
  }
}

.message {
  color: $gray-500;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 1.2em;
  white-space: nowrap;
}
