@import 'base.scss';

.circle {
  stroke: white;
  stroke-linecap: round;
  stroke-width: 3px;
  animation: dash 1.5s ease-in-out infinite;
}

.component {
  animation: rotate 2s linear infinite;

  &.primary {
    .circle {
      stroke: $color-primary;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
