@import 'base.scss';

@media screen and (max-device-width: $iphone-max-device-width) and (min-device-width: $iphone-min-device-width) {
  .component {
    margin-right: .9rem !important;
    margin-bottom: .9rem !important;
  }
}

.component {
  height: $matches-card-size;
  width: $matches-card-size;
  border-radius: $border-radius;
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.icon {
  color: $color-primary;
  position: relative;
  transform: translateY(-1.5rem);
  left: .5rem;
}
