@import 'base.scss';

.component {
  height: $matches-card-size;
  width: $matches-card-size;
  border-radius: $border-radius;
  cursor: pointer;
}

.icon {
  color: $color-primary;
  position: relative;
  transform: translateY(-1.5rem);
  left: .5rem;
}
