@import 'base.scss';

.myActionContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  border: 2px solid $color-primary;
  align-items: center;
}

.oppositeActionContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  border: 2px solid $gray-400;
  align-items: center;
  transition: background-color $transition-speed;
}

.avatarContainer {
  margin-right: 1rem;
}

.activityInfo {
  display: flex;
}

.activityText {
  font-weight: 700;
}

.activityDate {
  font-size: .8rem;
  color: $gray-700;
}
