@import 'base.scss';

.component {
  // Empty
}

.uploadedPhotosSection {
  p {
    margin-top: 0;
    margin-bottom: .5rem;
  }
}

.photos {
  display: flex;
}

.photo {
  width: 10rem;
  height: 10rem;
  background-size: cover;
  margin-right: 2rem;
  border-radius: $border-radius;
}

.avatarSection {
  margin-bottom: 2rem;

  p {
    margin-top: 0;
    margin-bottom: .5rem;
  }
}