@import 'base.scss';

.component {
  height: $header-height;
  background-color: $color-primary;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.controls {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.btnLogin {
  margin-right: .5rem;
}

.link {
  margin-right: 1rem;
  padding: .8rem 1.5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: background-color $transition-speed, color $transition-speed;

  &:hover {
    color: $color-primary;
    background-color: white;
  }
}

.avatar {
  border: 2px solid white;
}
