@import 'base.scss';

.component {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &.isNarrow {
    max-width: 450px;
  }
}

.error {
  color: $red;
  margin-top: .4em;
}

.labelContainer {
  display: flex;
}

.isOptional {
  margin-left: auto;
  font-size: 10px;
  color: $gray-500;
}
