@import 'base.scss';

.component {
  height: 300px;
  width: 300px;
  position: relative;
}

.slide {
  list-style: none;
}

.slider {
  border-radius: 3px;

  ul {
    padding: 0;
    margin: 0;
  }
}

.dotGroup {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  bottom: .5rem;
  left: 0;
  right: 0;
  text-align: center;

  :global {
    .carousel__dot {
      $size: 12px;
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: white;
      border: 0;
      -webkit-appearance: none;
      padding: 0;
      margin-right: .5rem;
      outline: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .carousel__dot--selected {
      background-color: $color-primary;
    }
  }
}
