@import 'base.scss';

$padding: 2rem;

@media screen and (max-device-width: $iphone-max-device-width) and (min-device-width: $iphone-min-device-width) {
  .responsiveMenuControls {
    display: flex !important;
    flex-direction: row;
    border-bottom: 2px solid $gray-400;
    height: 40px;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
  }

  .displayMatchesList {
    display: none !important;
  }

  .component {
    overflow-x: hidden;
  }
}

.selectedMatchContainer {
  display: flex;
  padding-left: 2rem;
}

.matchesListContainer {
  display: flex;
}

.responsiveMenuControls {
  display: none;
}

.component {
  margin: $padding 0;
  display: flex;
  min-height: unquote("calc(100vh - #{$header-height + ($padding * 2)})");
  flex-direction: row;
}

.selectedProfile {
  flex-shrink: 0;
  position: static !important;
  padding-right: 2rem !important;
  margin-left: 0 !important;
}
