@import 'base.scss';

$padding: 2rem;

@media screen and (max-device-width: $iphone-max-device-width) and (min-device-width: $iphone-min-device-width) {
  .userMessage {
    p {
      max-width: 50% !important;
    }
  }

  .matchMessage {
    p {
      max-width: 50% !important;
    }
  }

  .component {
    height: unquote("calc(100vh - #{$header-height + ($padding * 3.8)})") !important;
  }
}

.component {
  overflow-y: scroll;
  height: unquote("calc(100vh - #{$header-height + ($padding * 3.9)})");
}

.noMessages {
  width: 100%;
  height: 100%;
  color: $gray-500;
  align-items: center;
  justify-content: center;
  display: flex;
}

.userAvatar {
  margin-left: 2rem;
  margin-bottom: 0px;
}

.userMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
  height: auto;

  p {
    background-color: $color-primary;
    color: white;
    padding: .5rem 1rem;
    border-radius: $border-radius;
    max-width: 40%;
    margin: 0;
  }
}

.matchAvatar {
  margin-right: 2rem;
  margin-bottom: 0px;
}

.matchMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1rem;
  height: auto;

  p {
    padding: .5rem 1rem;
    background-color: $gray-400;
    border-radius: $border-radius;
    margin: 0;
    max-width: 40%;
  }
}
