@import 'base.scss';

.component {
  // Empty
}

.userAvatar {
  margin-left: 2rem;
}

.userMessage {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;

  p {
    background-color: $color-primary;
    color: white;
    padding: .5rem 1rem;
    border-radius: $border-radius;
    max-width: 40%;
  }
}

.matchAvatar {
  margin-right: 2rem;
}

.matchMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;

  p {
    padding: .5rem 1rem;
    background-color: $gray-400;
    border-radius: $border-radius;
    margin: 0;
    max-width: 40%;
  }
}
