@import 'base.scss';

.component {
  border-radius: $border-radius;
  position: relative;

  &.empty {
    background-color: white;
    border: 2px solid $gray-500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &.isRounded {
    border-radius: 50%;

    .background {
      border-radius: 50%;
    }
  }

  &.size-m {
    $size: 140px;
    width: $size;
    height: $size;
  }

  &.size-s {
    $size: 45px;
    width: $size;
    height: $size;

    &.empty {
      font-size: .8rem;
    }

    .onlineBullet {
      bottom: 0;
      right: 0;
    }
  }
}

.initials {
  // This is needed, to make it pixel perfect aligned vertically
  line-height: 1.5;
}

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: $border-radius;
}

.empty {
  font-size: 2rem;
  color: $gray-500;
}

.onlineBullet {
  $size: 12px;

  position: absolute;
  width: $size;
  height: $size;
  bottom: ($size / 2);
  right: ($size / 2);
  background-color: $red;
  border-radius: 50%;
  transition: background-color 200ms ease;

  &.isOnline {
    background-color: $color-primary;
  }
}
