@import 'base.scss';

@media screen and (max-device-width: $iphone-max-device-width) and (min-device-width: $iphone-min-device-width) {
  .form {
    height: 1rem !important;
  }
}

@media screen and (max-device-width: $ipad-max-device-width) and (min-device-width: $ipad-min-device-width) {
  .form {
    height: 0rem !important;
  }
}

.component {
  // Empty
}

.submitError {
  color: red;
}

.chatInput {
  width: 100%;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 11px;
  height: 5rem;
}

.submitButton {
  height: 50px;
  margin-left: .5rem;
}
