@import 'base.scss';

.component {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms;
  z-index: 1;
  border: 2px dashed $gray-500;
  border-radius: $border-radius;
}

.overlayContent {
  font-size: 32px;

  .icon {
    font-size: 32px;
    color: $gray-500;
  }
}

.isUploading {
  .overlay {
    background-color: $gray-500;
  }
}

.atBottom {
  .overlay {
    top: auto;
    background-color: rgba($color: white, $alpha: .2)
  }

  .overlayContent {
    padding: 1rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    font-size: 14px;
  }

  .atBottomLabel {
    color: white;
    font-size: 14px;
    display: inline-block;
    margin-left: 1rem;
  }
}
