@import 'base.scss';

.component {
  position: relative;
  width: 100%;
  height: 100%;
}

.input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.label {
  cursor: pointer;
}
