@import 'base.scss';

@media screen and (max-device-width: $iphone-max-device-width) and (min-device-width: $iphone-min-device-width) {
  .component {
    width: 100% !important;
  }
}

.component {
  width: 30%;
}

.submitError {
  color: $red;
}
